<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!--spring整合mybatis-->
    <!--数据源封装类 数据源 数据库连接spring-jdbc-->
    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <!--property属性设置注入 driverClassName url username password-->
        <property name="driverClassName" value="com.mysql.jdbc.Driver"></property>
        <property name="url" value="jdbc:mysql://localhost:3306/mybatisdb"></property>
        <property name="username" value="root"></property>
        <property name="password" value="123456"></property>
    </bean>

    <!--构建SqlSessionFactory工厂对象-->
    <bean id="factory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource"></property>
    </bean>

    <!--扫描mapper包下映射文件 扫描包com.gxw.mapper 创建哪个类的对象-->
    <bean id="configurer" class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <!--1.要扫描的哪个包com.gxw.mapper-->
        <property name="basePackage" value="com.gxw.mapper"></property>
        <!--2.和factory产生关系-->
        <property name="sqlSessionFactory" ref="factory"></property>
    </bean>

    <!--由Spring容器来管理Service业务层实现类-->
    <bean id="userService" class="com.gxw.service.impl.UserServiceImpl">
        <property name="userMapper" ref="userMapper"></property>
    </bean>

</beans>